

* {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.background-footer {
	height: 875px;
	width: 100%;
	background-color: #1a1a1a;
}

.footer-contact {
	font-size: 16px;
	line-height: 24px;
}

.line {
	display: block;
	width: 190px;
	height: 1px;
	background-color: white;
}
#myVideo {
	filter: brightness(70%);
	height: 100%;
	width: 100%;
	object-fit: cover;
}