
* {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

a{
	 color:#333333 !important;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family:Inter, sans-serif;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.background-footer {
	height: auto;
	width: 100%;
	background-color: #1a1a1a;
}

.footer-contact {
	font-size: 16px;
	line-height: 24px;
}

.line {
	display: block;
	width: 190px;
	height: 1px;
	background-color: white;
}
.follow-text {
	font-size: 18px;
	font-weight: 600;
}

.footer-group-item {
	padding-top: 6px;
	padding-bottom: 6px;
	list-style: none;
	text-decoration: none;
	line-height: 20px;
}

.blue-section {
	height: auto;
	width: 100%;
	background-color: #195DA3;
}

#myVideo {
	filter: brightness(30%);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.text-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F7F7F7;
	font-size: 32px;
}
.btn-header{
	  position: absolute;
	    top: 60%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	
}
.w-85{
	width: 85%;
}
.mt-6{
	margin-top: 150px;
}

.h-650{
	height: 650px;
}

@media screen and (max-width: 434px){
	.w-85{
		width: 95%;
	}

}